/* Aseguramos que el cuerpo ocupe toda la altura de la pantalla */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Hacer que el contenido principal ocupe el espacio disponible */
main {
    padding-bottom: 50px; /* Espacio para el pie de página */
    margin-bottom: 50px; /* Aseguramos espacio al pie */
}

/* Estilos básicos para el encabezado */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Estilo para la navegación */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Estilos para las secciones */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #f4f4f4;
    border-radius: 5px;
}

section#inicio {
    background-color: #e0f7fa;
}

section h1, section h2 {
    color: #00796b;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
